
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/object_detector_tutorial.iml
*.pyc
*.pyc
*.pyc
*.pth
*.pyc
*.pyc
*.pyc
*.pyc
